<!--====== Footer Area Start ======-->
<footer class="section footer-area">
    <!-- Footer Top -->
    <div class="footer-top ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <img
                            class="navbar-brand-sticky"
                            src="/img/logo/logo.png"
                            alt="sticky brand-logo"
                        />
                        <p class="text-black-50 mt-2">
                            Inspiring Growth, Empowering Success
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-black text-uppercase mb-2">
                            Services
                        </h3>
                        <ul>
                            <li class="py-2">
                                <a class="text-black-50" href="/services"
                                    >Digital Marketing</a
                                >
                            </li>
                            <li class="py-2">
                                <a class="text-black-50" href="/services"
                                    >Website Growth</a
                                >
                            </li>
                            <li class="py-2">
                                <a class="text-black-50" href="/services"
                                    >SEO Ranking</a
                                >
                            </li>
                            <li class="py-2">
                                <a class="text-black-50" href="/services"
                                    >App Development</a
                                >
                            </li>
                            <li class="py-2">
                                <a class="text-black-50" href="/services"
                                    >Email Marketing</a
                                >
                            </li>
                            <li class="py-2">
                                <a class="text-black-50" href="/services"
                                    >Booking & Reserve</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-black text-uppercase mb-2">
                            Quick Links
                        </h3>
                        <ul>
                            <li class="py-2">
                                <a class="text-black-50" href="/">Home</a>
                            </li>
                            <li class="py-2">
                                <a class="text-black-50" href="/about"
                                    >About us</a
                                >
                            </li>
                            <li class="py-2">
                                <a class="text-black-50" href="/services"
                                    >Services</a
                                >
                            </li>
                            <li class="py-2">
                                <a class="text-black-50" href="/contact"
                                    >Contact us</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-black text-uppercase mb-2">
                            Contact us
                        </h3>
                        <p class="text-black-50 mb-2">
                            Reach out and let's start transforming your digital
                            presence today.
                        </p>
                        <!-- Social Icons -->
                        <ul class="social-icons list-inline pt-2">
                            <li class="list-inline-item px-1">
                                <a
                                    class="text-black-50"
                                    href="mailto:info@gencio.co.uk"
                                    ><i class="fas fa-envelope"></i
                                ></a>
                            </li>
                            <li class="list-inline-item px-1">
                                <a
                                    class="text-black-50"
                                    href="tel:+44 01708 693277"
                                    ><i class="fas fa-phone"></i
                                ></a>
                            </li>
                            <!-- <li class="list-inline-item px-1"><a class="text-black-50" href="#"><i class="fab fa-google-plus"></i></a></li>
                                    <li class="list-inline-item px-1"><a class="text-black-50" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item px-1"><a class="text-black-50" href="#"><i class="fab fa-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Copyright Area -->
                    <div
                        class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4"
                    >
                        <!-- Copyright Left -->
                        <div class="copyright-left text-black-50">
                            &copy; Copyrights 2024 Gencio All rights reserved.
                        </div>
                        <!-- Copyright Right -->
                        <div class="copyright-right text-black-50">
                            Made with <i class="fas fa-heart color-2"></i> By
                            <a class="text-black-50" href="#">Gencio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--====== Footer Area End ======-->
