<!--====== Preloader Area Start ======-->
<div id="preloader">
    
    <div id="Gencio-preloader" class="Gencio-preloader">
        <!-- Preloader Animation -->
        <div class="preloader-animation">
            <!-- Spinner -->
            <div class="spinner"></div>
            <!-- Loader -->
            <div class="loader">
                <span data-text-preloader="G" class="animated-letters">G</span>
                <span data-text-preloader="E" class="animated-letters">E</span>
                <span data-text-preloader="N" class="animated-letters">N</span>
                <span data-text-preloader="C" class="animated-letters">C</span>
                <span data-text-preloader="I" class="animated-letters">I</span>
                <span data-text-preloader="O" class="animated-letters">O</span>
                <!-- <span data-text-preloader="X" class="animated-letters">X</span> -->
            </div>
            <p class="fw-5 text-center text-uppercase">Loading</p>
        </div>
        <!-- Loader Animation -->
        <div class="loader-animation">
            <div class="row h-100">
                <!-- Single Loader -->
                <div class="col-3 single-loader p-0">
                    <div class="loader-bg"></div>
                </div>
                <!-- Single Loader -->
                <div class="col-3 single-loader p-0">
                    <div class="loader-bg"></div>
                </div>
                <!-- Single Loader -->
                <div class="col-3 single-loader p-0">
                    <div class="loader-bg"></div>
                </div>
                <!-- Single Loader -->
                <div class="col-3 single-loader p-0">
                    <div class="loader-bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== Preloader Area End ======-->

<!--====== Scroll To Top Area Start ======-->
<div id="scrollUp" title="Scroll To Top">
    <i class="fas fa-arrow-up"></i>
</div>
<!--====== Scroll To Top Area End ======-->