<!DOCTYPE html>
<html class="no-js" lang="en">
    <%- include('src/header.ejs') %>
    <body class="homepage-5 dark">
        <style>
            .text-white-25 {
                color: rgba(255, 255, 255, 0.4) !important;
            }
            ul.custom li {
                list-style: disc;
                margin-left: 18px;
            }
            .svg-img {
                position: relative;
            }
            .svg-img img {
                position: absolute;
                top: 32%;
                left: 19%;
            }
            .custom-header h1 {
                font-size: 6vw;
                color: #ffffff;
            }
            .info-overlay {
                position: absolute;
                bottom: 10px;
                left: 25px;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                padding: 10px 20px;
                border-radius: 3px;
                font-size: 1.8rem;
            }
            .carousel-inner {
                position: relative;
            }

            .custom-ol {
                margin: 24px auto;
            }

            .custom-ol h2 {
                font-size: 20px;
                color: #ffffff;
            }

            .custom-ol ol {
                margin: 0;
                padding: 0;
                margin-top: 32px;
                list-style: none;
                counter-reset: web-design;
            }

            .custom-ol ol li {
                margin: 24px 0px;
                font-size: 18px;
                display: flex;
                align-items: center;
                transition: all 400ms;
            }

            .custom-ol ol li::before {
                content: counter(web-design);
                counter-increment: web-design;
                margin-right: 24px;
                font-size: 32px;
                font-weight: bold;
                background: #5454c6;
                padding: 8px 16px;
                border-radius: 0 8px 0 8px;
                color: #eee;
                transition: all 400ms;
            }

            .custom-ol ol li:hover::before {
                background: #0071a7;
                transform: scale(1.2) rotate(-5deg);
            }

            /* for animation */
            #popup-col,
            #popup-sec-1,
            #popup-sec-2 {
                opacity: 0.3;
                transform: translateY(50px);
            }
            #after-heading-text, #animate-img {
                opacity: 0;
                transform: scale(0);
            }
        </style>
        <!--====== Preloader Area Start ======-->
        <%- include('src/preloader.ejs') %>
        <!--====== Preloader Area End ======-->
        <%- include('src/navbar.ejs', { page: 'services' }) %>

        <!-- ***** Breadcrumb Area Start ***** -->
        <section
            class="section breadcrumb-area bg-overlay overflow-hidden d-flex align-items-center"
        >
            <video autoplay muted loop>
                <source src="/video/about-video.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Breamcrumb Content -->
                        <div
                            class="breadcrumb-content d-flex flex-column align-items-center text-center"
                        >
                            <h2 class="text-white text-uppercase mb-3">
                                Our Services
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Breadcrumb Area End ***** -->

        <!-- ***** Strategy Area STart ***** -->
        <section class="section ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 mb-3 mb-sm-0" id="popup-col">
                        <div class="st-img mb-3">
                            <img src="img/service/1.svg" alt="" />
                        </div>
                        <h2 class="mb-2 text-white">Strategy Plan</h2>
                        <p class="text-white-50 mb-2">
                            Develop a comprehensive roadmap tailored to achieve
                            your business goals.
                        </p>
                        <ul class="text-white-25 custom">
                            <li>Goal Alignment</li>
                            <li>Roadmap Creation</li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-3 mb-sm-0" id="popup-col">
                        <div class="st-img mb-3">
                            <img src="img/service/2.svg" alt="" />
                        </div>
                        <h2 class="mb-2 text-white">Email Marketing</h2>
                        <p class="text-white-50 mb-2">
                            Craft and deliver personalized email campaigns to
                            engage and convert your audience.
                        </p>
                        <ul class="text-white-25 custom">
                            <li>Targeted Campaigns</li>
                            <li>Conversion Focus</li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-3 mb-sm-0" id="popup-col">
                        <div class="st-img mb-3">
                            <img src="img/service/3.svg" alt="" />
                        </div>
                        <h2 class="mb-2 text-white">Content Marketing</h2>
                        <p class="text-white-50 mb-2">
                            Create and distribute valuable content to attract
                            and retain your target audience.
                        </p>
                        <ul class="text-white-25 custom">
                            <li>Content Creation</li>
                            <li>Audience Engagement</li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-3 mb-sm-0" id="popup-col">
                        <div class="st-img mb-3">
                            <img src="img/service/4.svg" alt="" />
                        </div>
                        <h2 class="mb-2 text-white">SEO Optimization</h2>
                        <p class="text-white-50 mb-2">
                            Improve your website's visibility on search engines
                            to drive organic traffic.
                        </p>
                        <ul class="text-white-25 custom">
                            <li>Keyword Research</li>
                            <li>Ranking Boost</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Strategy Area End ***** -->

        <!-- ***** New Area Start ***** -->
        <Section class="section ptb-100">
            <div class="container">
                <div class="row" id="heading-h1-trigger">
                    <div class="col-md-6">
                        <div class="svg-img">
                            <svg
                                id="rorate-svg"
                                viewBox="0 0 300 300"
                                width="50%"
                                class="spin_text"
                            >
                                <path
                                    id="criclePath"
                                    d=" M 150, 150 m -120, 0 a 120,120 0 0,1 240,0 a 120,120 0 0,1 -240,0 "
                                    fill="transparent"
                                ></path>
                                <text
                                    fill="#999"
                                    font-family="Verdana"
                                    font-size="24"
                                    font-weight="100"
                                >
                                    <textPath xlink:href="#criclePath">
                                        Gencio Your Growth Our Innovation
                                    </textPath>
                                </text>
                            </svg>
                            <img src="img/favicon.png" alt="" />
                        </div>
                        <img id="animate-img" src="/img/service/svg-left.png" alt="" />
                    </div>
                    <div class="col-md-6">
                        <div class="custom-header mt-sm-0 mt-5">
                            <h1 id="heading-h1">DIGITAL</h1>
                            <h1 id="heading-h1" class="ml-5">SERVICE</h1>
                            <h1 id="heading-h1">SKILLS</h1>
                            <p class="text-white-50" id="after-heading-text">
                                Explore our comprehensive suite of digital
                                service skills, including strategic planning,
                                targeted email marketing, engaging content
                                creation, and effective SEO optimization,
                                designed to elevate your online presence and
                                drive business growth.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </Section>
        <!-- ***** New Area End ***** -->

        <!-- ***** Service Area Start ***** -->
        <section id="service" class="section service-area dark-bg ptb_150">
            <div class="container" id="popup-sec-1">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h5 class="text-white-50 mb-3">BEST OF SERVICE</h5>
                            <h2 class="text-white" style="line-height: 1.1em">
                                We Have Bright A New Digital <br />Best Of
                                Service
                            </h2>
                        </div>
                    </div>
                </div>
                <div
                    id="carouselExample"
                    class="carousel slide"
                    data-ride="carousel"
                >
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 col-sm-4 position-relative">
                                    <img
                                        src="/img/service/1.jpg"
                                        class="d-block w-100"
                                        alt="Service 1"
                                    />
                                    <div class="info-overlay">
                                        Digital Marketing
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 position-relative">
                                    <img
                                        src="/img/service/2.jpg"
                                        class="d-block w-100"
                                        alt="Service 2"
                                    />
                                    <div class="info-overlay">
                                        Website Growth
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 position-relative">
                                    <img
                                        src="/img/service/3.jpg"
                                        class="d-block w-100"
                                        alt="Service 3"
                                    />
                                    <div class="info-overlay">SEO Ranking</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-4 position-relative">
                                    <img
                                        src="/img/service/4.jpg"
                                        class="d-block w-100"
                                        alt="Service 4"
                                    />
                                    <div class="info-overlay">
                                        App Development
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 position-relative">
                                    <img
                                        src="/img/service/5.jpg"
                                        class="d-block w-100"
                                        alt="Service 5"
                                    />
                                    <div class="info-overlay">
                                        Email Marketing
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 position-relative">
                                    <img
                                        src="/img/service/6.jpg"
                                        class="d-block w-100"
                                        alt="Service 6"
                                    />
                                    <div class="info-overlay">
                                        Booking & Reservations
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add more carousel-item blocks as needed -->
                    </div>
                    <a
                        class="carousel-control-prev"
                        href="#carouselExample"
                        role="button"
                        data-slide="prev"
                    >
                        <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"
                        ></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a
                        class="carousel-control-next"
                        href="#carouselExample"
                        role="button"
                        data-slide="next"
                    >
                        <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"
                        ></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- ***** Service Area end ***** -->

        <section class="section ptb-100">
            <div class="container" id="popup-sec-2">
                <div class="row">
                    <div class="col-md-6">
                        <img src="img/service/bg_02.webp" alt="" />
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-white-50 mb-3 mt-sm-0 mt-5">
                            WHAT DO WE DO
                        </h5>
                        <h1 class="text-white mb-3">
                            We Provide Best Services For Your Business
                        </h1>
                        <h5 class="text-white-50 mb-3">
                            We specialize in delivering top-tier services
                            tailored to enhance your business's digital presence
                            and performance.
                        </h5>
                        <div class="custom-ol">
                            <ol>
                                <li>
                                    <div>
                                        <h2 class="text-white mb-1">
                                            Strategic Planning
                                        </h2>
                                        <p class="text-white-50">
                                            Tailored strategies to achieve your
                                            business goals.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h2 class="text-white mb-1">
                                            Targeted Marketing
                                        </h2>
                                        <p class="text-white-50">
                                            Precision-targeted campaigns to
                                            reach your audience effectively.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h2 class="text-white mb-1">
                                            Compelling Content
                                        </h2>
                                        <p class="text-white-50">
                                            Engaging content creation that
                                            resonates with your audience.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h2 class="text-white mb-1">
                                            SEO Excellence
                                        </h2>
                                        <p class="text-white-50">
                                            Enhance visibility and drive organic
                                            traffic with effective SEO
                                            strategies.
                                        </p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--====== Footer Area Start ======-->
        <%- include('src/footer.ejs') %>
        <!--====== Footer Area End ======-->

        <!-- ***** All jQuery Plugins ***** -->

        <!-- jQuery(necessary for all JavaScript plugins) -->
        <script src="/js/jquery/jquery-3.5.1.min.js"></script>

        <!-- Bootstrap js -->
        <script src="/js/bootstrap/popper.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>

        <!-- Plugins js -->
        <script src="/js/plugins/plugins.min.js"></script>

        <!-- Active js -->
        <script src="/js/active.js"></script>
        <script src="/js/animations.js"></script>
    </body>
</html>
